/* Links */

	ul.links {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			font-size: 1rem;
			display: block;
			// padding: 0 1em 0 0;
			// padding-left: 0.5em;

			// &:last-child {
			// 	padding-right: 0;
			// }

			.icon {
				color: inherit;

				&:before {
					font-size: 1.25em;
				}
			}
		}
	}