<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ SITENAME }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<div id="main">
				<div class="inner">

					<!-- Header -->
					<header id="header">
						{# <a href="index.html" class="logo"><strong>{{ SITENAME }}</strong></a> #}
					</header>

					{% block content %}
					{% endblock %}
				</div>
			</div>

			<!-- Sidebar -->
			<div id="sidebar">
				<div class="inner">

					{#
					<!-- Search -->
					<!-- pagefind: https://pagefind.app/ -->
					<section id="search" class="alt">
						<form method="post" action="#">
							<input type="text" name="query" id="query" placeholder="Search" />
						</form>
					</section>
					#}
					{# <div id="search" class="alt"></div> #}

					<!-- Menu -->
					<nav id="menu">
						<header class="major">
							<a href="index.html" class="logo"><h2>{{ SITENAME }}</h2></a>
						</header>
						<ul>
							<li><a href="index.html">Homepage</a></li>
							{% for page in pages %}
								<li><a href="{{ page.url }}">{{ page.title }}</a></li>
							{% endfor %}
							{% for category, articles in categories %}
							<li>
								<span class="opener">{{ category }}</span>
								<ul>
									{% for article in articles %}
									<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
									{% endfor %}
								</ul>
							</li>
							{% endfor %}
						</ul>
					</nav>

					<section>
						<header class="major">
							<h2>links</h2>
						</header>
						{% block links %}
						{% if LINKS %}
						<ul class="links">
							{% for name, icon, link in LINKS %}
								<li><a href="{{ link }}" class="icon brands override-fa fa-{{ icon }}">&nbsp;<span>{{ name }}</span></a></li>
							{% endfor %}
						</ul>
						{% endif %}
						{% endblock %}
					</section>

					{#
					<!-- Section -->
					<section>
						<header class="major">
							<h2>Ante interdum</h2>
						</header>
						<div class="mini-posts">
							<article>
								<a href="#" class="image"><img src="{{ SITEURL }}/theme/images/pic07.jpg" alt="" /></a>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
							</article>
							<article>
								<a href="#" class="image"><img src="{{ SITEURL }}/theme/images/pic08.jpg" alt="" /></a>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
							</article>
							<article>
								<a href="#" class="image"><img src="{{ SITEURL }}/theme/images/pic09.jpg" alt="" /></a>
								<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="#" class="button">More</a></li>
						</ul>
					</section>
					#}

					<!-- Section -->
					{% if STAFF %}
					<section>
						<header class="major">
							<h2>course staff</h2>
						</header>
						<ul class="contact">
							{% for name, email, oh in STAFF %}
							<li>
								{{ name }}
								<br>
								<span class="icon solid fa-envelope">&nbsp;<a href="mailto:{{ email }}">{{ email }}</a></span>
								<br>
								<span class="icon solid fa-calendar">&nbsp;{{ oh }}</span>
							</li>
							{% endfor %}
						</ul>
					</section>
					{% endif %}

					{# original
					<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>
					#}

				</div>
			</div>

		</div>

		<!-- Scripts -->
		{#
		<script src="{{ SITEURL }}/pagefind/pagefind-ui.js"></script>
		<script>
			window.addEventListener('DOMContentLoaded', (event) => {
				new PagefindUI({ element: "#search", showSubResults: true })
			});
		</script>
		#}
		<script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
		<script src="{{ SITEURL }}/theme/js/browser.min.js"></script>
		<script src="{{ SITEURL }}/theme/js/breakpoints.min.js"></script>
		<script src="{{ SITEURL }}/theme/js/util.js"></script>
		<script src="{{ SITEURL }}/theme/js/main.js"></script>

	</body>
</html>
