{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME|striptags }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

  {% if page.styles is defined %}
  {% for stylesheet in page.styles.split(',') %}
    <link rel="stylesheet" href="{{ SITEURL }}/static/css/{{ stylesheet }}">
  {% endfor %}
  {% endif %}
  {% if page.scripts is defined %}
  {% for script in page.scripts.split(',') %}
    <script src="{{ SITEURL }}/static/js/{{ script }}"></script>
  {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}

  {% if page.modified %}
  <p>Last updated: {{ page.locale_modified }}</p>
  {% endif %}

  {{ page.content }}
{% endblock %}
