@use "sass:math";
@use "sass:color";
@use "../libs/breakpoints";
@use "../libs/functions";
@use "../libs/mixins";
@use "../libs/vendor";

///
/// Table of Contents Sidebar
///

/* TOC Sidebar */

#toc-sidebar {
    $pad: math.div(2em, 0.9);

    @include vendor.vendor('flex-grow', '0');
    @include vendor.vendor('flex-shrink', '0');
    @include vendor.vendor('transition', ('0.5s ease',
            'box-shadow 0.5s ease'
        ));
    background-color: functions.palette(bg-alt);
    font-size: 0.9em;
    position: relative;
    // overflow: hidden;
    width: functions.size(sidebar-width);

    h2 {
        font-size: math.div(1.25em, 0.9);
    }

    >.inner {
        @include mixins.padding($pad, $pad, (0, 0, $pad, 0));
        position: relative;
        width: functions.size(sidebar-width);

        >* {
            border-bottom: solid 2px functions.palette(border);
            margin: 0 0 (functions.size(element-margin)) 0;
            padding: 0 0 (functions.size(element-margin) * 0.5) 0;

            > :last-child {
                margin-bottom: 0;
            }

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .toggle {
        @include mixins.icon(false, solid);
        @include vendor.vendor('transition', 'left 0.5s ease');
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: 0;
        display: block;
        height: 7.5em;
        left: -6em; // Position toggle to the LEFT of the sidebar
        line-height: 7.5em;
        outline: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        text-indent: -15em;
        white-space: nowrap;
        top: 0;
        width: 6em;
        z-index: functions.misc(z-index-base);

        &:before {
            content: '\f03a';
            font-size: 2rem;
            height: inherit;
            left: 0;
            line-height: inherit;
            position: absolute;
            text-indent: 0;
            top: 0;
            width: inherit;
        }
    }

    &.inactive {
        width: 0;
        // margin-right: (functions.size(sidebar-width) * -1);

        // When inactive, move toggle button to the right edge
        .toggle {
            visibility: visible;
            left: -6em;
            right: 0;
            text-indent: 0;
        }
    }

    @include breakpoints.breakpoint('<=xlarge') {
        $pad: math.div(1.5em, 0.9);

        width: functions.size(sidebar-width-alt);

        >.inner {
            @include mixins.padding($pad, $pad, (0, 0, $pad, 0));
            // width: functions.size(sidebar-width-alt);
        }

        .toggle {
            height: 6.25em;
            left: -5em;
            line-height: 6.25em;
            text-indent: 5em;
            width: 5em;

            &:before {
                font-size: 1.5rem;
            }
        }

        &.inactive {
            width: 0;
            // margin-right: (functions.size(sidebar-width-alt) * -1);

            .toggle {
                visibility: visible;
                left: -5em;
                right: 0;
                text-indent: 0;
            }
        }
    }

    @include breakpoints.breakpoint('<=large') {
        box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.175);
        height: 100%;
        right: 0;
        position: fixed;
        top: 0;
        z-index: functions.misc(z-index-base);

        &.inactive {
            box-shadow: none;
        }

        >.inner {
            -webkit-overflow-scrolling: touch;
            height: 100%;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            top: 0;

            &:after {
                content: '';
                display: block;
                height: 4em;
                width: 100%;
            }
        }

        .toggle {
            text-indent: 6em;
            width: 6em;
            left: -6em;

            &:before {
                font-size: 1.5rem;
                margin-left: (-0.875em * 0.5);
            }
        }

        &.inactive {
            width: 0;

            .toggle {
                visibility: visible;
                left: -6em;
                right: 0;
                text-indent: 0;
            }
        }

        body.is-preload & {
            display: none;
        }
    }

    @include breakpoints.breakpoint('<=small') {
        .toggle {
            text-indent: 7.25em;
            width: 7.25em;
            left: -7.25em;

            &:before {
                color: functions.palette(fg);
                margin-left: (-0.125em * 0.5);
                margin-top: (-0.5em * 0.5);
                font-size: 1.1rem;
                z-index: 1;
            }

            &:after {
                background: color.adjust(color.adjust(functions.palette(fg), $lightness: 35%), $alpha: -0.25);
                border-radius: functions.size(border-radius);
                content: '';
                height: 3.5em;
                left: 1em;
                position: absolute;
                top: 1em;
                width: 5em;
            }
        }

        &.inactive {
            width: 0;

            .toggle {
                visibility: visible;
                left: -7.25em;
                right: 0;
                text-indent: 0;
            }
        }
    }
}

// Hide original TOC in content
#main-content nav[role="doc-toc"] {
    display: none;
}