@use "sass:math";
@use "sass:color";
@use "../libs/breakpoints";
@use "../libs/functions";
@use "../libs/mixins";
@use "../libs/vendor";

///
/// Table of Contents Sidebar
///

/* TOC Sidebar */

#toc-sidebar {
    $pad: math.div(2em, 0.9);

    @include vendor.vendor('flex-grow', '0');
    @include vendor.vendor('flex-shrink', '0');
    @include vendor.vendor('transition', ('0.5s ease',
            'box-shadow 0.5s ease'
        ));
    background-color: functions.palette(bg-alt);
    font-size: 0.9em;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100vh;
    min-height: 0;

    h2 {
        font-size: math.div(1.25em, 0.9);
    }

    >.inner {
        @include mixins.padding($pad, $pad, (0, 0, $pad, 0));
        position: relative;
        width: functions.size(sidebar-width);

        >* {
            border-bottom: solid 2px functions.palette(border);
            margin: 0 0 (functions.size(element-margin)) 0;
            padding: 0 0 (functions.size(element-margin) * 0.5) 0;

            > :last-child {
                margin-bottom: 0;
            }

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }

    .toggle {
        @include mixins.icon(false, solid);
        @include vendor.vendor('transition', 'left 0.5s ease');
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        border: 0;
        display: block;
        height: 7.5em;
        left: -6em; // Position toggle to the LEFT of the sidebar
        line-height: 7.5em;
        outline: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        text-indent: -15em;
        white-space: nowrap;
        top: 0;
        width: 6em;
        z-index: functions.misc(z-index-base);

        &:before {
            content: '\f03a';
            font-size: 2rem;
            height: inherit;
            left: 0;
            line-height: inherit;
            position: absolute;
            text-indent: 0;
            top: 0;
            width: inherit;
        }
    }

    &.inactive {
        width: 0;
        // margin-right: (functions.size(sidebar-width) * -1);

        // When inactive, move toggle button to the right edge
        .toggle {
            visibility: visible;
            left: -6em;
            right: 0;
            text-indent: 0;
        }
    }
}

// Hide original TOC in content
#main-content nav[role="doc-toc"] {
    display: none;
}